{% extends "layout.html" %}
{% block title %}Регистрация{% endblock %}
{% block body %}
  <form action="" method=post>
    <p>
      <input type=text placeholder="Логин" name=login value="{{ request.form.username }}">
      <input type=password placeholder="Пароль" name=password value="{{ request.form.password }}">
      {%  if g.is_admin %}
        <input type=text placeholder="Роль" name=role value="{{ request.form.role }}">
      {% endif %}

      <input type=hidden name=next value="{{ next }}">
      <p>
      <input type=submit value=Register>
    <p>
  </form>
{% endblock %}